body {
    background-color: rgb(72, 72, 72);
    font-family: 'Roboto';
    margin: 0 auto;
}

#cabeca {
    background-color: rgb(47, 47, 47);
    background-image: linear-gradient(rgb(47, 47, 47), rgb(72, 72, 72));
    justify-content: center;
    margin-bottom: 100px;
}
#cabeca img {
    width: 300px;
    height: 300px;
    margin-left: 80px;
}
#cabeca h1 {
    color: rgb(216, 134, 40);
    font-family: Georgia;
    font-size: 75px;
}
#cabeca h2 {
    color: rgb(188, 167, 145);
    font-family: Georgia;
    font-size: 50px;
    font-variation-settings:"XROT" 0, "YROT" 0;
}

#painel {
    background-color: rgb(47, 47, 47);
    font-family: Georgia;
    list-style: none;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px;
    border-style: solid;
    font-size: 30px;
}

#painel ul {
    max-width: 900px;
}
#painel li {
    display: inline;
    display: inline-block;
    text-decoration: none;

}

#painel a {
    color: rgb(216, 134, 40);
    text-decoration: none;
}

#painel a:hover {
    color: aliceblue;
}

#pcursos {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(rgb(47, 47, 47), rgb(72, 72, 72));
    margin: 60px;
    margin-top: 60px;
}

#pcursos td {
    display: grid;
    justify-content: center;
    width: 450px;
    height: 500px;
    background-color: rgb(96, 96, 96);
    border: 1px;
    border-style: double;
    border-radius: 3%;
    border-color: grey;
    display: inline-table;
    margin-top: 80px;
}

#pcursos h1 {
    letter-spacing: 10px;
    color: rgb(216, 134, 40);
}

#pcursos h2 {
    color: rgb(216, 134, 40);
}

#pcursos p {
    color: rgb(188, 167, 145);
}

#pcursos td:hover{
    opacity: 0.9;
    transform: scale(1.05);
}

#pcursos .subtexto {
    color: aliceblue;
}

hr {
    border-color: rgb(255, 243, 228);
}

#Contato {
    background-image: linear-gradient( rgb(72, 72, 72), rgb(47, 47, 47));
    color: aliceblue;
    font-size: 25px;
    display: grid;
    justify-content: center;
}

#Contato h1 {
    font-size: 50px;
    color: rgb(216, 134, 40);
    margin-left: 100px;
    display: grid;
    justify-content: center;
}

#fim {
    background-color: rgb(47, 47, 47);
    display: grid;
    justify-content: center;
}

#fim p {
    color: rgba(229, 229, 229, 0.155);
}
